.arrow {
  left: calc(50% - 64px);
  top: 50%;
  position: absolute;
  will-change: transform;
  animation: rotate infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
