.title {
  color: white;
  font-family: "Jersey 15", sans-serif;
  font-size: 3rem;
  margin: 1rem;
  position: relative;
  text-transform: uppercase;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
  z-index: 1;
}

.dropzone,
.exporting {
  background: linear-gradient(
    to bottom,
    rgb(181, 222, 255),
    rgb(242, 199, 212),
    rgb(255, 246, 219)
  );
}

.dropzone {
  inset: 0;
  position: fixed;
}

.andre-mode {
  &,
  & .exporting {
    background: url("assets/andre.gif");
    background-size: cover;
  }

  & .title {
    color: white;
  }
}

.contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
  margin: 0 auto;
  width: 600px;
}

.exporting {
  & .results__url {
    display: block;
  }

  & .results__share {
    display: none;
  }
}

.settings,
.copyright {
  bottom: 0.5rem;
  font-style: normal;
  position: fixed;
}

.settings {
  left: 0.5rem;
}

.copyright {
  right: 0.5rem;

  & a {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
  }
}

@keyframes wobble {
  0% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}
