.title {
  font-size: 2rem;
  font-variant: small-caps;
}

.dropzone {
  inset: 0;
  position: fixed;
}

.contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.count {
  background-image: url("assets/star.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 2rem;
  text-align: center;
  line-height: 1.2;
  padding: 8rem;
  transform: rotate(-2deg);
}

.total,
.shadow {
  font-family: "Rammetto One", sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

.total {
  background-image: radial-gradient(circle, yellow, red);
  color: transparent;
  background-clip: text;
  position: relative;
  -webkit-text-stroke: 4px #222;
  z-index: 1;
}

.shadow {
  opacity: 0.3;
  position: absolute;
}

.copyright {
  bottom: 0.5rem;
  font-style: normal;
  position: fixed;
  right: 0.5rem;

  & a {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
  }
}
