.title {
  font-size: 2rem;
  font-variant: small-caps;
}

.dropzone {
  inset: 0;
  position: fixed;
}

.contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
  margin: 0 auto;
  width: fit-content;
}

.results {
  text-align: center;
}

.url {
  display: none;
}

.exporting {
  background: linear-gradient(
    to bottom,
    rgb(181, 222, 255),
    rgb(242, 199, 212),
    rgb(255, 246, 219)
  );

  & .url {
    display: block;
  }

  & .share {
    display: none;
  }
}

.count {
  background-image: url("assets/star.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding: 8rem;
  transform: rotate(-2deg);
}

.total,
.shadow {
  font-family: "Rammetto One", sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

.total {
  background-image: radial-gradient(circle, yellow, red);
  color: transparent;
  background-clip: text;
  position: relative;
  -webkit-text-stroke: 4px #222;
  z-index: 1;
}

.shadow {
  opacity: 0.3;
  position: absolute;
}

.copyright {
  bottom: 0.5rem;
  font-style: normal;
  position: fixed;
  right: 0.5rem;

  & a {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
  }
}
